.tax-accordion .radio-section {
    padding: 10px 0;
}

.radio-section label {
    padding-right: 20px;
}

.radio-section label span{
    padding-left:10px;
}


.alert{
    margin-left: 20px;
    min-height: 145px;
}
.alert>p {
    margin: 10px;
    font-weight: bold;
}