<div class="panel panel-primary">
  <div class="panel-heading">
    Recurring Deposit Calculator
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
         <div *ngIf="maturityAmount">
            <div class="alert alert-info col-md-5 text-center">
              <p>Maturity Amount</p>
              <button class="btn btn-success btn-lg">
                   {{maturityAmount | currency:'₹ '}}
              </button>
            </div>
            <div class="alert alert-info col-md-5 text-center">
              <p>Total Interest </p>
              <button class="btn btn-warning  btn-lg">
                   {{totalInterst | currency:'₹ '}}
              </button>
            </div>
            <div class="alert alert-info col-md-5 text-center">
              <p>Principal Amount</p>
              <button class="btn btn-info  btn-lg">
                   {{totalPaymentPrincipal | currency:'₹ '}}
              </button>
            </div>
        </div> 
      </div>
      <div class="col-md-6">
        <form class="" novalidate (ngSubmit)="recurringDepositSbmit()" [formGroup]="recurringDepositForm">
          <fieldset>
            <div class="form-group" [ngClass]="{'has-error': (recurringDepositForm.get('initialAmount').touched || 
            recurringDepositForm.get('initialAmount').dirty) &&
            !recurringDepositForm.get('initialAmount').valid }">
              <label class="control-label" for="initialAmountId">My initial amount of</label>
              <div class="input-group">
              <span class="input-group-addon">₹</span>
              <input type="number" class="form-control" formControlName="initialAmount" id="initialAmountId" placeholder="Initial Amount (required)"
              />
            </div>
              <span class="help-block" *ngIf="(recurringDepositForm.get('initialAmount').touched || 
                  recurringDepositForm.get('initialAmount').dirty) && 
                  recurringDepositForm.get('initialAmount').errors">
                <span *ngIf="recurringDepositForm.get('initialAmount').errors.required">Please enter your initial amount.</span>
                <span *ngIf="recurringDepositForm.get('initialAmount').errors.min">Please enter minimum 500 Rs.</span>
              </span>
            </div>


            <div class="form-group" [ngClass]="{'has-error': (recurringDepositForm.get('interestRate').touched || 
            recurringDepositForm.get('interestRate').dirty) &&
            !recurringDepositForm.get('interestRate').valid }">
              <label class="control-label" for="interestRateId">At an interest rate of </label>
              <div class="input-group">
                 <span class="input-group-addon">%</span>
              <input type="number" [readonly]=true class="form-control" formControlName="interestRate" id="interestRateId" placeholder="Interest Rate (required)"
              />
            </div>
              <span class="help-block" *ngIf="(recurringDepositForm.get('interestRate').touched || 
                  recurringDepositForm.get('interestRate').dirty) && 
                  recurringDepositForm.get('interestRate').errors">
                <span *ngIf="recurringDepositForm.get('interestRate').errors.required">Please enter  interest rate.</span>
                <span *ngIf="recurringDepositForm.get('interestRate').errors.max">Please enter  interest rate below 20.</span>
              </span>
            </div>

            <div class="form-group" [ngClass]="{'has-error': (recurringDepositForm.get('selectMonths').touched || 
            recurringDepositForm.get('selectMonths').dirty) &&
            !recurringDepositForm.get('selectMonths').valid }">
              <label class="control-label" for="selectMonthsId">For a term of (months)</label>
              <div class="input-group">
              
              
              <select class="form-control" formControlName="selectMonths" id="selectMonthsId">
                <option selected="selected" value="0">Select months</option>
                <option value="6">6</option>
                <option value="9">9</option>
                <option value="12">12</option>
                <option value="15">15</option>
                <option value="24">24</option>
                <option value="27">27</option>
                <option value="36">36</option>
                <option value="39">39</option>
                <option value="48">48</option>
                <option value="60">60</option>
                <option value="90">90</option>
                <option value="120">120</option>
              </select>
              <span class="input-group-addon">months</span>
            </div>
              <span class="help-block" *ngIf="(recurringDepositForm.get('selectMonths').touched || 
                  recurringDepositForm.get('selectMonths').dirty) && 
                  recurringDepositForm.get('selectMonths').errors">
                <span *ngIf="recurringDepositForm.get('selectMonths').errors.required">Please select.</span>
                              </span>
            </div>




            <div class="form-group">

              <button class="btn btn-primary" type="submit" [disabled]="!recurringDepositForm.valid">
                Submit
              </button>

            </div>

          </fieldset>
        </form>
      </div>

    </div>
    <div class="row" *ngIf="tableData.length">
      <div class="col-md-12">
          <table class="table table-striped table-bordered">
            <thead>
              <tr class="success">
                <th>Months </th>
                <th>Principle Amount</th>
                <th>Total Interest Amount</th>
                <th>Maturity Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tableData">
                <td>{{item.myStartMonth}}</td>
                <td>{{item.principleAmount | currency:'₹ '}}</td>
                <td>{{item.totalInt | currency:'₹ '}}</td>
                <td>{{item.matAmount | currency:'₹ '}}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

