<div class="panel panel-primary">
  <div class="panel-heading">
    Car Loan EMI Calculator
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div *ngIf="loanEMI">
            <div class="alert alert-info col-md-5 text-center">
              <p>Loan EMI</p>
              <button class="btn btn-success btn-lg">
                   {{loanEMI | currency:'₹ '}}
              </button>
            </div>
            <div class="alert alert-info col-md-5 text-center">
              <p>Total Interest Payable</p>
              <button class="btn btn-warning  btn-lg">
                   {{totalInterestPayable | currency:'₹ '}}
              </button>
            </div>
            <div class="alert alert-info col-md-5 text-center">
              <p>Total Payment <br />(Principal + Interest)</p>
              <button class="btn btn-info  btn-lg">
                   {{totalPaymentPrincipalInterest | currency:'₹ '}}
              </button>
            </div>
            <div class="alert alert-info col-md-5 text-center">
              <p>Interest Percentage</p>
              <button class="btn btn-info  btn-lg">
                   {{interestPercentage}}
              </button>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <form class="" novalidate (ngSubmit)="calulateCarLoanEMI()" [formGroup]="carLoanEMIForm">
          <fieldset>
            <div class="form-group" [ngClass]="{'has-error': (carLoanEMIForm.get('loanAmount').touched || 
            carLoanEMIForm.get('loanAmount').dirty) &&
            !carLoanEMIForm.get('loanAmount').valid }">
              <label class="control-label" for="loanAmountId">Loan Amount</label>
              <div class="input-group">
              <span class="input-group-addon">₹</span>
              <input type="number" class="form-control" formControlName="loanAmount" id="loanAmountId" placeholder="Loan Amount (required)"
              />
            </div>
              <span class="help-block" *ngIf="(carLoanEMIForm.get('loanAmount').touched || 
                  carLoanEMIForm.get('loanAmount').dirty) && 
                  carLoanEMIForm.get('loanAmount').errors">
                <span *ngIf="carLoanEMIForm.get('loanAmount').errors.required">Please enter your loan amount.</span>
              </span>
            </div>


            <div class="form-group" [ngClass]="{'has-error': (carLoanEMIForm.get('interestRate').touched || 
            carLoanEMIForm.get('interestRate').dirty) &&
            !carLoanEMIForm.get('interestRate').valid }">
              <label class="control-label" for="interestRateId">Interest Rate</label>
              <div class="input-group">
                 <span class="input-group-addon">%</span>
              <input type="number" class="form-control" formControlName="interestRate" id="interestRateId" placeholder="Interest Rate (required)"
              />
            </div>
              <span class="help-block" *ngIf="(carLoanEMIForm.get('interestRate').touched || 
                  carLoanEMIForm.get('interestRate').dirty) && 
                  carLoanEMIForm.get('interestRate').errors">
                <span *ngIf="carLoanEMIForm.get('interestRate').errors.required">Please enter  interest rate.</span>
                <span *ngIf="carLoanEMIForm.get('interestRate').errors.max">Please enter  interest rate below 40.</span>
              </span>
            </div>

            <div class="form-group" [ngClass]="{'has-error': (carLoanEMIForm.get('loanTerm').touched || 
            carLoanEMIForm.get('loanTerm').dirty) &&
            !carLoanEMIForm.get('loanTerm').valid }">
              <label class="control-label" for="loanTermId">Loan Term</label>
              <div class="input-group">
              <input type="number" class="form-control" formControlName="loanTerm" id="loanTermId" placeholder="Loan Term (required)"
              /><span class="input-group-addon">Years</span>
            </div>
              <span class="help-block" *ngIf="(carLoanEMIForm.get('loanTerm').touched || 
                  carLoanEMIForm.get('loanTerm').dirty) && 
                  carLoanEMIForm.get('loanTerm').errors">
                <span *ngIf="carLoanEMIForm.get('loanTerm').errors.required">Please enter  Loan Term.</span>
                <span *ngIf="carLoanEMIForm.get('loanTerm').errors.max">Please enter  Loan Term below 15 .</span>
              </span>
            </div>




            <div class="form-group">

              <button class="btn btn-primary" type="submit" [disabled]="!carLoanEMIForm.valid">
                Calculate loan amount
              </button>

            </div>

          </fieldset>
        </form>
      </div>

    </div>
    <div class="row" *ngIf="totalEmiPrice.length">
      <div class="col-md-12">
          <table class="table table-striped table-bordered">
            <thead>
              <tr class="success">
                <th>Payment No.</th>
                <th>Begining Balance</th>
                <th>EMI</th>
                <th>Principal</th>
                <th>Interest</th>
                <th>Ending Balance</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of totalEmiPrice">
                <td>{{item.PaymentNo}}</td>
                <td>{{item.BeginingBalance | currency:'₹ '}}</td>
                <td>{{item.EMI | currency:'₹ '}}</td>
                <td>{{item.Principal | currency:'₹ '}}</td>
                <td>{{item.Interest | currency:'₹ '}}</td>
                <td>{{item.EndingBalance | currency:'₹ '}}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>