<nav class="navbar navbar-default navbar-static-top custom-navigation">
  <div class="container">
      <div class="navbar-header">
            <button type="button" class="navbar-toggle x" [ngClass]="{ 'collapsed': !isIn  }" (click)="toggleState()">
               <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          <!-- <a class="navbar-brand">
            Logo
          </a> -->
          <span class="navbar-brand">NG5 + Calculators</span>
      </div>
      <div id="navbar" class="navbar-collapse collapse out in2" [ngClass]="{ 'in2'  : isIn  }">
        <ul class="nav navbar-nav">
            <li [routerLinkActive]="['active']"> 
                <a [routerLink]="['/home']" (click)="closeMenu()">Home</a> 
            </li>
            <li [routerLinkActive]="['active']" class="dropdown" dropdown> 
                <a dropdownToggle role="button"> 
                    Calculators <span class="caret"></span></a>
                <ul *dropdownMenu class="dropdown-menu"> 
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"><a [routerLink]="['/calculator']" (click)="closeMenu()">Basic</a></li>
                    <li [routerLinkActive]="['active']"><a [routerLink]="['/calculator/simple-interest']" (click)="closeMenu()">Simple Interest</a></li>
                    <li role="separator" class="divider"></li>
                    <li [routerLinkActive]="['active']"><a [routerLink]="['/calculator/home-loan-emi']" (click)="closeMenu()">Home Loan EMI</a></li>
                    <li [routerLinkActive]="['active']"><a [routerLink]="['/calculator/car-loan-emi']" (click)="closeMenu()">Car Loan EMI</a></li>
                    
                    <li [routerLinkActive]="['active']"><a [routerLink]="['/calculator/personal-loan']" (click)="closeMenu()">Personal Loan EMI</a></li>
                    <li [routerLinkActive]="['active']"><a [routerLink]="['/calculator/fixed-deposit']" (click)="closeMenu()">FD Calculator</a></li>
                    <li [routerLinkActive]="['active']"><a [routerLink]="['/calculator/public-provident-fund']" (click)="closeMenu()">PPF Calculator</a></li>
                    <li [routerLinkActive]="['active']"><a [routerLink]="['/calculator/recurring-deposit']" (click)="closeMenu()">Recurring Deposit Calculator</a></li>
                    <li [routerLinkActive]="['active']"><a [routerLink]="['/calculator/calculate-income-tax-on-salary']" (click)="closeMenu()">Income Tax on Salary Calculator</a></li>
                    
                </ul>
            </li>
            <li [routerLinkActive]="['active']"> 
                <a [routerLink]="['/contact-us']" (click)="closeMenu()">Contact Us</a> 
            </li>
            <!-- <li class="dropdown" dropdown> 
                <a dropdownToggle role="button"> 
                    Dropdown <span class="caret"></span></a>
                <ul *dropdownMenu class="dropdown-menu"> 
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li> -->
        </ul>
    </div>
  </div>
</nav>